@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&display=swap');
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(assets/background.svg);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
.navbar li {
    float: left;
    margin-left: 10px;
}
.navbar li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 8px;
}
.navbar img {
    float: left;
}
.main h1{
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar li a:hover{
    color: rgb(9, 163, 209);
    text-decoration: overline;
    transition: 0.60s;
}
.main p {
    color: white;
    text-align: center;
    font-size: 19px;
}
.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#inv {
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(15, 47, 228);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#inv:hover {
    transition: 0.70s;
    color: rgb(255, 255, 255);
    background-color: blue;
}